/*
 |--------------------------------------------------------------------------=
 | Do your @import font calls here
 |--------------------------------------------------------------------------
*/


/*
 |--------------------------------------------------------------------------=
 | Set up the fonts
 |--------------------------------------------------------------------------
*/

$bodyFont: 			     	'Helvetica', sans-serif;
$bodyFontSize:         14px;
$thin:				         100;
$light: 			         300;
$regular: 			       400;
$bold: 				         700;


/*
 |--------------------------------------------------------------------------=
 | Set up your sites colors
 |--------------------------------------------------------------------------
*/

$primary:             red;
$secondary:           blue;
$tetriary:            green;

/*
 |--------------------------------------------------------------------------=
 | Site wrapper variables
 |--------------------------------------------------------------------------
*/

$wrapperWidth: 	     1800px;
$wrapperBgColor:     white;

/*
 |--------------------------------------------------------------------------=
 | Body Variables
 |--------------------------------------------------------------------------
*/

$bodyBgColor:        #464646;
